//= require syntax

@import "vendor/normalize";
@import "settings";
@import "vendor/foundation";
@import "vendor/font-awesome";

.content {
  padding-top: 20px;

  .button {
    font-family: "Inconsolata";
    font-size: 12px;
    color: #222;
    height: 20px;
    padding: 10px;
    line-height: 0px;
    background-color: #E6E6E6;
    border-radius: 2px;
  }
  .icons a { color: #000; }
  .post h3 {
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    text-decoration: underline;
  }
  .header { text-align: center; }
  .header h2 { font-size: 30px; line-height: 1; }
  code { font-size: 14px; display: inline-block; }
  .highlight code { width: 100%; overflow: auto; }
  th { padding-right: 15px; }
}